$col-padding: 1rem;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: $col-padding;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex-basis: (100% / 12) * $i;
  }
}