$col-padding: 1rem;
$columns: 12;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: $col-padding;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    flex-basis: (100% / $columns) * $i;
  }
}